<a href="https://colab.research.google.com/github/Churashma/Churashma.github.io/blob/master/Day1_session2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.Write a program to print the triangle 
#i/p  4
 
#1
#2    3
#3    4   5
#4    5   6   7

In [ ]:
 
currentNumber = 1
rows = 4  # Rows you want in your pattern
stop = 1
for i in range(rows):
    for column in range(1, stop):
        print(currentNumber, end=' ')
        currentNumber +=1
    print("")
    stop += 1

1
2 3
4 5 6

#2.Write a program to print the triangle:
#i/p 4
#*
#* *
#* * *
#* * * *

In [ ]:
 
rows = 4
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
 
    print("\r")

*
* *
* * *
* * * *

#3.Write a program to print the triangle  
#i/p 5
#5
#4 5
#3 4 5
#2 3 4 5
#1 2 3 4 5

In [ ]:
 for i in range(5,0,-1):
    for j in range(i,6):
        print(j,end='')
    print()

5
45
345
2345
12345

#4.Write a program to print the triangle:
#i/p 5
#5 4 3 2 1
#4 3 2 1
#3 2 1
#2 1
#1

In [ ]:
 
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#5.Write a program to print the triangle:
#i/p 4
#1 2 3 4
#2 3 4
#3 4
#4
#3 4
#2 3 4
#1 2 3 4

#6.Find the length of a string without using len functions

In [ ]:
 
str = input("Enter a string: ")
 
# counter variable to count the character in a string
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: Ambika
Length of the input string is: 6

#7.Find the no of words and characters in a string

In [ ]:
string = input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:Ambika
Number of words in the string:
1
Number of characters in the string:
6

#8.Find the no of occurrences of a word in a string

In [ ]:
# define string
string = "Python is awesome, isn't it?"
substring = "is"
 
count = string.count(substring)
 
# print count
print("The count is:", count)

The count is: 2